# Byte-compiled / optimized / DLL files
.cache/*
__pycache__/*
*.py[co]
*.so
*.dylib
*.dll

# Logs and Experimental outputs, etc.
/results/*
*.out
*.log
*.err
*.pt
*.safetensors
*.png
*.wav
*.txt
*.json

# Testing or Data preprocessing scripts
# !!! These may include sensitive privacy information !!!
test.py
ETRI_preprocess.py
